*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aliceblue;
}
div img{
    height: 500px;
    width: 100%;
    justify-content: right;
}
a{
   padding-left: 40%;
    text-decoration: none;
    font-size: 20pt;
}
a :hover{
    color: black;
    size: 15pt;
}