* {
    margin: 0px;
    padding: 0px;
    color: #000000;
}

body{
    font-family: cursive;
}

nav ul li a {
    text-decoration: none;
    font-size: 15pt;
}

nav ul li :hover {
    color: rgb(16, 0, 235);
}

nav {
    height: 55px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(157, 131, 100);
    background-size: cover;
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
    margin-top: 10pt;
}

nav .logo {
    font-size: 35pt;
    margin-left: -10%;
}

.welcome {
    padding-top: 3%;
    background: url("seeds.jpg");
    height: 600px;
    background-size: cover;
    border-color: black;
    border-width: 100pc;
}

.welcome p {
    margin-top: 3%;
    color: aliceblue;
    margin-left: 10%;
    font-size: 25pt;
    font-style: oblique;
    font-optical-sizing: 10%;
}

.welcome h1 {
    color: aquamarine;
    margin-left: 25%;
    margin-top: 5%;
    font-size: 50pt;
    font-display: inherit;
}

.welcome .button {
    display: flex;
    align-items: center;
    color: black;
}

.welcome .online {
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-top: 5%;
    margin-right: 25pt;
    height: 50px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20pt;
    border: 5px solid rgb(242, 228, 228);
}

.welcome .ourmenu {
    margin-top: 5%;
    height: 50px;
    width: 100px;
    font-size: 20pt;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 25px;
    border: 5px solid rgb(242, 228, 228);
}
.welcome .ourmenu a{
    color: aliceblue;
    text-decoration: none;
}
.welcome .online a{
    color: aliceblue;
    text-decoration: none;
}
.welcome .button :hover {
    background-color: aqua;
}

hr {
    margin-top: 5pt;
    margin-bottom: 5pt;
    height: 2px;
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
}

.section1 {
    display: flex;
    color: black;
    margin-top: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
}

.section1 .contant h2 {
    margin-left: 50%;
    align-items: center;
    text-decoration: underline;
    font-size: 40pt;
}

.section1 .contant p {
    font-size: 20pt;
    text-align: center;
    margin-top: 10px;
}


.section2 {
    display: flex;
    color: black;
    margin-top: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
}

.section2 .contant p {
    font-size: 20pt;
    text-align: center;
    margin-top: 10px;
}

.section2 .contant h2 {
    margin-left: 50%;
    align-items: center;
    text-decoration: underline;
    font-size: 40pt;
}

.section3 {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    float: right;
    justify-content: space-around;
}

.section3 .imag img {
    width: 500px;
}

.section3 .contant h2 {
    margin-left: 50%;
    align-items: center;
    text-decoration: underline;
    font-size: 40pt;
}

.section3 .contant p {
    font-size: 20pt;
    text-align: center;
    margin-top: 10px;
}

.section4 {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

.section4 .contant h2 {
    margin-left: 45%;
    align-items: center;
    text-decoration: underline;
    font-size: 40pt;
}

.section4 .contant p {
    font-size: 20pt;
    text-align: center;
    margin-top: 10px;
}

.contactus {
    background-color: rgb(10, 8, 47);
    padding-top: 10px;
    padding-right: 10%;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.contactus .stay p {
    color: aliceblue;
    font-size: 15pt;
}

.contactus .stay input {
    color: rgb(0, 0, 0);
    height: 40px;
    margin-top: 10px;
    width: 300px;
}

.contactus .stay button {
    height: 40px;
    margin-top: 10px;
    width: 200px;
    font-size: 12pt;
}

.contactus .add h3 {
    font-size: 20pt;
    color: aliceblue;
}

.contactus .add {
    margin-bottom: 5%;
}

.contactus .add ul li {
    color: aliceblue;
    margin-top: 10px;
    font-size: 15pt;
}

.contactus .nevigation ul li {
    color: aliceblue;
    margin-top: 10px;
    font-size: 15pt;
}

.contactus .nevigation ul li a {
    color: aliceblue;
    font-size: 15pt
}
